.button {
	width: 100%;
}

.container {
	padding: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.content {
	text-align: left;
}

.profile {
	background: #eaeaea;
	width: 80px;
	height: 80px;
	margin: 10px;
}
